@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0; 
  font-family: serif ;
}

.menuItems{
  font-weight: bold;
  border-bottom:solid 3px #b69d11;

}

.menuItem:hover{
  font-weight: 600;
}

.servicesTop, .aboutTop, .contactTop{
   background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.servicesTop{
  background-image: url(./assets/images/pic3.jpg);
}
.aboutTop{
  background-image: url(./assets/images/pic9.jpg);
}
.contactTop{
  background-image: url(./assets/images/pic8.jpg);
}
.valuesright{
  background-image: url(./assets/images/istockphoto-3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.servicesIntro{
  background-position: center ;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(98, 77, 3, 0.5), rgba(15, 1, 38, 0.5)), url('./assets/images/pic5.jpg');
  /* background-image: url('./assets/images/pic5.jpg'); */
}

.aboutintro{
   background-image: url('./assets/images/istockphoto-6.jpg');
  background-position: center;
  background-position-y: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  /* background: linear-gradient(rgba(211, 204, 201, 0.5), rgba(223, 219, 229, 0.5)); */
}
Button:hover{
  background-color:#7036c7;
  color:#fff;
  border-left:solid 3px #b69d11;
  border-top:solid 5px #b69d11;
}
Button{
  border-left:solid 5px #7036c7;
  border-top:solid 5px #7036c7;
}


/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

